.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message_info {
    margin-left: 20px;
}

.message_info > h4 {
    display: flex;
    align-items: center;
}

.message_info > h4 > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
    font-size: medium;
    color: gray;
}

.message_info > h4 > .MuiSvgIcon-root:hover {
    color: #d44950;
}

.message_timestamp {
    color: gray;
    margin: 0px 20px;
    font-size: x-small;
}